In [299]:
import pandas as pd
import datetime
import numpy as np

In [300]:
df1 = pd.read_json("21FEB_ENTERED.json")

In [301]:
df1

,STATUS,occasionType,orderID,timestamp
0,ENTERED,DRIVE_THRU,ca8c0f9c-e839-47c5-a243-244b3f352037,2021-02-21 15:46:00+00:00
1,ENTERED,DRIVE_THRU,7ab146ef-c679-4df8-a38e-8a3bc9847cca,2021-02-21 18:13:33+00:00
2,ENTERED,DRIVE_THRU,84fd4456-0cfb-4af8-9f82-3bfb8838efc4,2021-02-21 18:25:26+00:00
3,ENTERED,DRIVE_THRU,b0141e39-4303-46bd-8144-9493d08a6263,2021-02-21 18:26:02+00:00
4,ENTERED,DRIVE_THRU,3c728c41-0cad-4455-b3e9-b55d78226e45,2021-02-21 18:30:43+00:00
...,...,...,...,...
425,ENTERED,DRIVE_THRU,014e8582-a867-4030-b100-30e35c58178f,2021-02-22 09:39:24+00:00
426,ENTERED,DRIVE_THRU,f5d54ea2-eed7-415f-b2aa-144fa65d32f8,2021-02-22 09:55:59+00:00
427,ENTERED,DRIVE_THRU,19ebc78b-717b-454e-b9f1-8f50a45c8147,2021-02-22 10:09:11+00:00
428,ENTERED,DRIVE_THRU,343eb2fc-2315-4aa8-ad1b-a1e18e84e22f,2021-02-22 10:40:12+00:00
429,ENTERED,DRIVE_THRU,44e61c63-b947-4d53-aa72-f7ab78608a72,2021-02-22 10:47:33+00:00

In [302]:
df1.rename(columns = {'timestamp':'Entered_date_time'}, inplace = True)

In [303]:
df1

,STATUS,occasionType,orderID,Entered_date_time
0,ENTERED,DRIVE_THRU,ca8c0f9c-e839-47c5-a243-244b3f352037,2021-02-21 15:46:00+00:00
1,ENTERED,DRIVE_THRU,7ab146ef-c679-4df8-a38e-8a3bc9847cca,2021-02-21 18:13:33+00:00
2,ENTERED,DRIVE_THRU,84fd4456-0cfb-4af8-9f82-3bfb8838efc4,2021-02-21 18:25:26+00:00
3,ENTERED,DRIVE_THRU,b0141e39-4303-46bd-8144-9493d08a6263,2021-02-21 18:26:02+00:00
4,ENTERED,DRIVE_THRU,3c728c41-0cad-4455-b3e9-b55d78226e45,2021-02-21 18:30:43+00:00
...,...,...,...,...
425,ENTERED,DRIVE_THRU,014e8582-a867-4030-b100-30e35c58178f,2021-02-22 09:39:24+00:00
426,ENTERED,DRIVE_THRU,f5d54ea2-eed7-415f-b2aa-144fa65d32f8,2021-02-22 09:55:59+00:00
427,ENTERED,DRIVE_THRU,19ebc78b-717b-454e-b9f1-8f50a45c8147,2021-02-22 10:09:11+00:00
428,ENTERED,DRIVE_THRU,343eb2fc-2315-4aa8-ad1b-a1e18e84e22f,2021-02-22 10:40:12+00:00
429,ENTERED,DRIVE_THRU,44e61c63-b947-4d53-aa72-f7ab78608a72,2021-02-22 10:47:33+00:00

In [304]:
df2 = pd.read_json("21FEB_INIT.json")

In [305]:
df2

,STATUS,occasionType,orderID,timestamp
0,INIT,DRIVE_THRU,ca8c0f9c-e839-47c5-a243-244b3f352037,2021-02-21 15:45:48+00:00
1,INIT,DRIVE_THRU,7ab146ef-c679-4df8-a38e-8a3bc9847cca,2021-02-21 18:12:21+00:00
2,INIT,DRIVE_THRU,84fd4456-0cfb-4af8-9f82-3bfb8838efc4,2021-02-21 18:25:00+00:00
3,INIT,DRIVE_THRU,b0141e39-4303-46bd-8144-9493d08a6263,2021-02-21 18:25:41+00:00
4,INIT,DRIVE_THRU,3c728c41-0cad-4455-b3e9-b55d78226e45,2021-02-21 18:31:22+00:00
...,...,...,...,...
426,INIT,DRIVE_THRU,014e8582-a867-4030-b100-30e35c58178f,2021-02-22 09:36:02+00:00
427,INIT,DRIVE_THRU,f5d54ea2-eed7-415f-b2aa-144fa65d32f8,2021-02-22 09:56:18+00:00
428,INIT,DRIVE_THRU,19ebc78b-717b-454e-b9f1-8f50a45c8147,2021-02-22 10:08:43+00:00
429,INIT,DRIVE_THRU,343eb2fc-2315-4aa8-ad1b-a1e18e84e22f,2021-02-22 10:09:11+00:00
430,INIT,DRIVE_THRU,44e61c63-b947-4d53-aa72-f7ab78608a72,2021-02-22 10:47:07+00:00

In [306]:
df2.rename(columns = {'timestamp':'INIT_date_time'}, inplace = True)

In [307]:
df2

,STATUS,occasionType,orderID,INIT_date_time
0,INIT,DRIVE_THRU,ca8c0f9c-e839-47c5-a243-244b3f352037,2021-02-21 15:45:48+00:00
1,INIT,DRIVE_THRU,7ab146ef-c679-4df8-a38e-8a3bc9847cca,2021-02-21 18:12:21+00:00
2,INIT,DRIVE_THRU,84fd4456-0cfb-4af8-9f82-3bfb8838efc4,2021-02-21 18:25:00+00:00
3,INIT,DRIVE_THRU,b0141e39-4303-46bd-8144-9493d08a6263,2021-02-21 18:25:41+00:00
4,INIT,DRIVE_THRU,3c728c41-0cad-4455-b3e9-b55d78226e45,2021-02-21 18:31:22+00:00
...,...,...,...,...
426,INIT,DRIVE_THRU,014e8582-a867-4030-b100-30e35c58178f,2021-02-22 09:36:02+00:00
427,INIT,DRIVE_THRU,f5d54ea2-eed7-415f-b2aa-144fa65d32f8,2021-02-22 09:56:18+00:00
428,INIT,DRIVE_THRU,19ebc78b-717b-454e-b9f1-8f50a45c8147,2021-02-22 10:08:43+00:00
429,INIT,DRIVE_THRU,343eb2fc-2315-4aa8-ad1b-a1e18e84e22f,2021-02-22 10:09:11+00:00
430,INIT,DRIVE_THRU,44e61c63-b947-4d53-aa72-f7ab78608a72,2021-02-22 10:47:07+00:00

In [308]:
df = pd.merge(df1, df2, on=["orderID"])

In [309]:
df

,STATUS_x,occasionType_x,orderID,Entered_date_time,STATUS_y,occasionType_y,INIT_date_time
0,ENTERED,DRIVE_THRU,ca8c0f9c-e839-47c5-a243-244b3f352037,2021-02-21 15:46:00+00:00,INIT,DRIVE_THRU,2021-02-21 15:45:48+00:00
1,ENTERED,DRIVE_THRU,7ab146ef-c679-4df8-a38e-8a3bc9847cca,2021-02-21 18:13:33+00:00,INIT,DRIVE_THRU,2021-02-21 18:12:21+00:00
2,ENTERED,DRIVE_THRU,84fd4456-0cfb-4af8-9f82-3bfb8838efc4,2021-02-21 18:25:26+00:00,INIT,DRIVE_THRU,2021-02-21 18:25:00+00:00
3,ENTERED,DRIVE_THRU,b0141e39-4303-46bd-8144-9493d08a6263,2021-02-21 18:26:02+00:00,INIT,DRIVE_THRU,2021-02-21 18:25:41+00:00
4,ENTERED,DRIVE_THRU,3c728c41-0cad-4455-b3e9-b55d78226e45,2021-02-21 18:30:43+00:00,INIT,DRIVE_THRU,2021-02-21 18:31:22+00:00
...,...,...,...,...,...,...,...
459,ENTERED,DRIVE_THRU,014e8582-a867-4030-b100-30e35c58178f,2021-02-22 09:39:24+00:00,INIT,DRIVE_THRU,2021-02-22 09:36:02+00:00
460,ENTERED,DRIVE_THRU,f5d54ea2-eed7-415f-b2aa-144fa65d32f8,2021-02-22 09:55:59+00:00,INIT,DRIVE_THRU,2021-02-22 09:56:18+00:00
461,ENTERED,DRIVE_THRU,19ebc78b-717b-454e-b9f1-8f50a45c8147,2021-02-22 10:09:11+00:00,INIT,DRIVE_THRU,2021-02-22 10:08:43+00:00
462,ENTERED,DRIVE_THRU,343eb2fc-2315-4aa8-ad1b-a1e18e84e22f,2021-02-22 10:40:12+00:00,INIT,DRIVE_THRU,2021-02-22 10:09:11+00:00
463,ENTERED,DRIVE_THRU,44e61c63-b947-4d53-aa72-f7ab78608a72,2021-02-22 10:47:33+00:00,INIT,DRIVE_THRU,2021-02-22 10:47:07+00:00

In [310]:
df['time_diff'] = df['Entered_date_time'] - df['INIT_date_time']

In [311]:
df

,STATUS_x,occasionType_x,orderID,Entered_date_time,STATUS_y,occasionType_y,INIT_date_time,time_diff
0,ENTERED,DRIVE_THRU,ca8c0f9c-e839-47c5-a243-244b3f352037,2021-02-21 15:46:00+00:00,INIT,DRIVE_THRU,2021-02-21 15:45:48+00:00,00:00:12
1,ENTERED,DRIVE_THRU,7ab146ef-c679-4df8-a38e-8a3bc9847cca,2021-02-21 18:13:33+00:00,INIT,DRIVE_THRU,2021-02-21 18:12:21+00:00,00:01:12
2,ENTERED,DRIVE_THRU,84fd4456-0cfb-4af8-9f82-3bfb8838efc4,2021-02-21 18:25:26+00:00,INIT,DRIVE_THRU,2021-02-21 18:25:00+00:00,00:00:26
3,ENTERED,DRIVE_THRU,b0141e39-4303-46bd-8144-9493d08a6263,2021-02-21 18:26:02+00:00,INIT,DRIVE_THRU,2021-02-21 18:25:41+00:00,00:00:21
4,ENTERED,DRIVE_THRU,3c728c41-0cad-4455-b3e9-b55d78226e45,2021-02-21 18:30:43+00:00,INIT,DRIVE_THRU,2021-02-21 18:31:22+00:00,-1 days +23:59:21
...,...,...,...,...,...,...,...,...
459,ENTERED,DRIVE_THRU,014e8582-a867-4030-b100-30e35c58178f,2021-02-22 09:39:24+00:00,INIT,DRIVE_THRU,2021-02-22 09:36:02+00:00,00:03:22
460,ENTERED,DRIVE_THRU,f5d54ea2-eed7-415f-b2aa-144fa65d32f8,2021-02-22 09:55:59+00:00,INIT,DRIVE_THRU,2021-02-22 09:56:18+00:00,-1 days +23:59:41
461,ENTERED,DRIVE_THRU,19ebc78b-717b-454e-b9f1-8f50a45c8147,2021-02-22 10:09:11+00:00,INIT,DRIVE_THRU,2021-02-22 10:08:43+00:00,00:00:28
462,ENTERED,DRIVE_THRU,343eb2fc-2315-4aa8-ad1b-a1e18e84e22f,2021-02-22 10:40:12+00:00,INIT,DRIVE_THRU,2021-02-22 10:09:11+00:00,00:31:01
463,ENTERED,DRIVE_THRU,44e61c63-b947-4d53-aa72-f7ab78608a72,2021-02-22 10:47:33+00:00,INIT,DRIVE_THRU,2021-02-22 10:47:07+00:00,00:00:26

In [312]:
def my_func(x):
    y = str(x).split(":")
    _min = y[1]
    _sec = y[2].split("+")[0]
    return f'{_min}:{_sec}'
df['Order_time_in_Second'] = df['time_diff'].apply(my_func)

In [313]:
df

,STATUS_x,occasionType_x,orderID,Entered_date_time,STATUS_y,occasionType_y,INIT_date_time,time_diff,Order_time_in_Second
0,ENTERED,DRIVE_THRU,ca8c0f9c-e839-47c5-a243-244b3f352037,2021-02-21 15:46:00+00:00,INIT,DRIVE_THRU,2021-02-21 15:45:48+00:00,00:00:12,00:12
1,ENTERED,DRIVE_THRU,7ab146ef-c679-4df8-a38e-8a3bc9847cca,2021-02-21 18:13:33+00:00,INIT,DRIVE_THRU,2021-02-21 18:12:21+00:00,00:01:12,01:12
2,ENTERED,DRIVE_THRU,84fd4456-0cfb-4af8-9f82-3bfb8838efc4,2021-02-21 18:25:26+00:00,INIT,DRIVE_THRU,2021-02-21 18:25:00+00:00,00:00:26,00:26
3,ENTERED,DRIVE_THRU,b0141e39-4303-46bd-8144-9493d08a6263,2021-02-21 18:26:02+00:00,INIT,DRIVE_THRU,2021-02-21 18:25:41+00:00,00:00:21,00:21
4,ENTERED,DRIVE_THRU,3c728c41-0cad-4455-b3e9-b55d78226e45,2021-02-21 18:30:43+00:00,INIT,DRIVE_THRU,2021-02-21 18:31:22+00:00,-1 days +23:59:21,59:21
...,...,...,...,...,...,...,...,...,...
459,ENTERED,DRIVE_THRU,014e8582-a867-4030-b100-30e35c58178f,2021-02-22 09:39:24+00:00,INIT,DRIVE_THRU,2021-02-22 09:36:02+00:00,00:03:22,03:22
460,ENTERED,DRIVE_THRU,f5d54ea2-eed7-415f-b2aa-144fa65d32f8,2021-02-22 09:55:59+00:00,INIT,DRIVE_THRU,2021-02-22 09:56:18+00:00,-1 days +23:59:41,59:41
461,ENTERED,DRIVE_THRU,19ebc78b-717b-454e-b9f1-8f50a45c8147,2021-02-22 10:09:11+00:00,INIT,DRIVE_THRU,2021-02-22 10:08:43+00:00,00:00:28,00:28
462,ENTERED,DRIVE_THRU,343eb2fc-2315-4aa8-ad1b-a1e18e84e22f,2021-02-22 10:40:12+00:00,INIT,DRIVE_THRU,2021-02-22 10:09:11+00:00,00:31:01,31:01
463,ENTERED,DRIVE_THRU,44e61c63-b947-4d53-aa72-f7ab78608a72,2021-02-22 10:47:33+00:00,INIT,DRIVE_THRU,2021-02-22 10:47:07+00:00,00:00:26,00:26

In [314]:
def year_month_day(date):
    return str(date).split(" ")[0]
df['order_date'] = df['INIT_date_time'].apply(year_month_day)

In [315]:
df

,STATUS_x,occasionType_x,orderID,Entered_date_time,STATUS_y,occasionType_y,INIT_date_time,time_diff,Order_time_in_Second,order_date
0,ENTERED,DRIVE_THRU,ca8c0f9c-e839-47c5-a243-244b3f352037,2021-02-21 15:46:00+00:00,INIT,DRIVE_THRU,2021-02-21 15:45:48+00:00,00:00:12,00:12,2021-02-21
1,ENTERED,DRIVE_THRU,7ab146ef-c679-4df8-a38e-8a3bc9847cca,2021-02-21 18:13:33+00:00,INIT,DRIVE_THRU,2021-02-21 18:12:21+00:00,00:01:12,01:12,2021-02-21
2,ENTERED,DRIVE_THRU,84fd4456-0cfb-4af8-9f82-3bfb8838efc4,2021-02-21 18:25:26+00:00,INIT,DRIVE_THRU,2021-02-21 18:25:00+00:00,00:00:26,00:26,2021-02-21
3,ENTERED,DRIVE_THRU,b0141e39-4303-46bd-8144-9493d08a6263,2021-02-21 18:26:02+00:00,INIT,DRIVE_THRU,2021-02-21 18:25:41+00:00,00:00:21,00:21,2021-02-21
4,ENTERED,DRIVE_THRU,3c728c41-0cad-4455-b3e9-b55d78226e45,2021-02-21 18:30:43+00:00,INIT,DRIVE_THRU,2021-02-21 18:31:22+00:00,-1 days +23:59:21,59:21,2021-02-21
...,...,...,...,...,...,...,...,...,...,...
459,ENTERED,DRIVE_THRU,014e8582-a867-4030-b100-30e35c58178f,2021-02-22 09:39:24+00:00,INIT,DRIVE_THRU,2021-02-22 09:36:02+00:00,00:03:22,03:22,2021-02-22
460,ENTERED,DRIVE_THRU,f5d54ea2-eed7-415f-b2aa-144fa65d32f8,2021-02-22 09:55:59+00:00,INIT,DRIVE_THRU,2021-02-22 09:56:18+00:00,-1 days +23:59:41,59:41,2021-02-22
461,ENTERED,DRIVE_THRU,19ebc78b-717b-454e-b9f1-8f50a45c8147,2021-02-22 10:09:11+00:00,INIT,DRIVE_THRU,2021-02-22 10:08:43+00:00,00:00:28,00:28,2021-02-22
462,ENTERED,DRIVE_THRU,343eb2fc-2315-4aa8-ad1b-a1e18e84e22f,2021-02-22 10:40:12+00:00,INIT,DRIVE_THRU,2021-02-22 10:09:11+00:00,00:31:01,31:01,2021-02-22
463,ENTERED,DRIVE_THRU,44e61c63-b947-4d53-aa72-f7ab78608a72,2021-02-22 10:47:33+00:00,INIT,DRIVE_THRU,2021-02-22 10:47:07+00:00,00:00:26,00:26,2021-02-22

In [316]:
df['avg_order_time'] = pd.Series(pd.to_timedelta(df['time_diff'])).mean()

In [317]:
df['avg_order_time']

0     00:01:12.422413
1     00:01:12.422413
2     00:01:12.422413
3     00:01:12.422413
4     00:01:12.422413
            ...
459   00:01:12.422413
460   00:01:12.422413
461   00:01:12.422413
462   00:01:12.422413
463   00:01:12.422413
Name: avg_order_time, Length: 464, dtype: timedelta64[ns]

In [318]:
df.drop(['time_diff'], axis = 1)

,STATUS_x,occasionType_x,orderID,Entered_date_time,STATUS_y,occasionType_y,INIT_date_time,Order_time_in_Second,order_date,avg_order_time
0,ENTERED,DRIVE_THRU,ca8c0f9c-e839-47c5-a243-244b3f352037,2021-02-21 15:46:00+00:00,INIT,DRIVE_THRU,2021-02-21 15:45:48+00:00,00:12,2021-02-21,00:01:12.422413
1,ENTERED,DRIVE_THRU,7ab146ef-c679-4df8-a38e-8a3bc9847cca,2021-02-21 18:13:33+00:00,INIT,DRIVE_THRU,2021-02-21 18:12:21+00:00,01:12,2021-02-21,00:01:12.422413
2,ENTERED,DRIVE_THRU,84fd4456-0cfb-4af8-9f82-3bfb8838efc4,2021-02-21 18:25:26+00:00,INIT,DRIVE_THRU,2021-02-21 18:25:00+00:00,00:26,2021-02-21,00:01:12.422413
3,ENTERED,DRIVE_THRU,b0141e39-4303-46bd-8144-9493d08a6263,2021-02-21 18:26:02+00:00,INIT,DRIVE_THRU,2021-02-21 18:25:41+00:00,00:21,2021-02-21,00:01:12.422413
4,ENTERED,DRIVE_THRU,3c728c41-0cad-4455-b3e9-b55d78226e45,2021-02-21 18:30:43+00:00,INIT,DRIVE_THRU,2021-02-21 18:31:22+00:00,59:21,2021-02-21,00:01:12.422413
...,...,...,...,...,...,...,...,...,...,...
459,ENTERED,DRIVE_THRU,014e8582-a867-4030-b100-30e35c58178f,2021-02-22 09:39:24+00:00,INIT,DRIVE_THRU,2021-02-22 09:36:02+00:00,03:22,2021-02-22,00:01:12.422413
460,ENTERED,DRIVE_THRU,f5d54ea2-eed7-415f-b2aa-144fa65d32f8,2021-02-22 09:55:59+00:00,INIT,DRIVE_THRU,2021-02-22 09:56:18+00:00,59:41,2021-02-22,00:01:12.422413
461,ENTERED,DRIVE_THRU,19ebc78b-717b-454e-b9f1-8f50a45c8147,2021-02-22 10:09:11+00:00,INIT,DRIVE_THRU,2021-02-22 10:08:43+00:00,00:28,2021-02-22,00:01:12.422413
462,ENTERED,DRIVE_THRU,343eb2fc-2315-4aa8-ad1b-a1e18e84e22f,2021-02-22 10:40:12+00:00,INIT,DRIVE_THRU,2021-02-22 10:09:11+00:00,31:01,2021-02-22,00:01:12.422413
463,ENTERED,DRIVE_THRU,44e61c63-b947-4d53-aa72-f7ab78608a72,2021-02-22 10:47:33+00:00,INIT,DRIVE_THRU,2021-02-22 10:47:07+00:00,00:26,2021-02-22,00:01:12.422413

In [319]:
def my_func(x):
    y = str(x).split(":")
    _min = y[1]
    _sec = y[2].split("+")[0]
    return f'{_min}:{_sec}'
df['avg_time'] = df['avg_order_time'].apply(my_func)

In [320]:
df.drop(['avg_order_time'], axis = 1)

,STATUS_x,occasionType_x,orderID,Entered_date_time,STATUS_y,occasionType_y,INIT_date_time,time_diff,Order_time_in_Second,order_date,avg_time
0,ENTERED,DRIVE_THRU,ca8c0f9c-e839-47c5-a243-244b3f352037,2021-02-21 15:46:00+00:00,INIT,DRIVE_THRU,2021-02-21 15:45:48+00:00,00:00:12,00:12,2021-02-21,01:12.422413
1,ENTERED,DRIVE_THRU,7ab146ef-c679-4df8-a38e-8a3bc9847cca,2021-02-21 18:13:33+00:00,INIT,DRIVE_THRU,2021-02-21 18:12:21+00:00,00:01:12,01:12,2021-02-21,01:12.422413
2,ENTERED,DRIVE_THRU,84fd4456-0cfb-4af8-9f82-3bfb8838efc4,2021-02-21 18:25:26+00:00,INIT,DRIVE_THRU,2021-02-21 18:25:00+00:00,00:00:26,00:26,2021-02-21,01:12.422413
3,ENTERED,DRIVE_THRU,b0141e39-4303-46bd-8144-9493d08a6263,2021-02-21 18:26:02+00:00,INIT,DRIVE_THRU,2021-02-21 18:25:41+00:00,00:00:21,00:21,2021-02-21,01:12.422413
4,ENTERED,DRIVE_THRU,3c728c41-0cad-4455-b3e9-b55d78226e45,2021-02-21 18:30:43+00:00,INIT,DRIVE_THRU,2021-02-21 18:31:22+00:00,-1 days +23:59:21,59:21,2021-02-21,01:12.422413
...,...,...,...,...,...,...,...,...,...,...,...
459,ENTERED,DRIVE_THRU,014e8582-a867-4030-b100-30e35c58178f,2021-02-22 09:39:24+00:00,INIT,DRIVE_THRU,2021-02-22 09:36:02+00:00,00:03:22,03:22,2021-02-22,01:12.422413
460,ENTERED,DRIVE_THRU,f5d54ea2-eed7-415f-b2aa-144fa65d32f8,2021-02-22 09:55:59+00:00,INIT,DRIVE_THRU,2021-02-22 09:56:18+00:00,-1 days +23:59:41,59:41,2021-02-22,01:12.422413
461,ENTERED,DRIVE_THRU,19ebc78b-717b-454e-b9f1-8f50a45c8147,2021-02-22 10:09:11+00:00,INIT,DRIVE_THRU,2021-02-22 10:08:43+00:00,00:00:28,00:28,2021-02-22,01:12.422413
462,ENTERED,DRIVE_THRU,343eb2fc-2315-4aa8-ad1b-a1e18e84e22f,2021-02-22 10:40:12+00:00,INIT,DRIVE_THRU,2021-02-22 10:09:11+00:00,00:31:01,31:01,2021-02-22,01:12.422413
463,ENTERED,DRIVE_THRU,44e61c63-b947-4d53-aa72-f7ab78608a72,2021-02-22 10:47:33+00:00,INIT,DRIVE_THRU,2021-02-22 10:47:07+00:00,00:00:26,00:26,2021-02-22,01:12.422413

In [321]:
df.to_csv("21ST_FC_report.csv")